In [2]:
from sqlite3 import Cursor, connect
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from util import *
from manually_explore import db_path

mental_health_sql = connect(db_path).cursor()

In [3]:
'''
If you run .schema on the database the result will be:
CREATE TABLE IF NOT EXISTS "Answer" (     
        "AnswerText" VARCHAR(10000) NULL, 
        "SurveyID" INTEGER NULL,
        "UserID" INTEGER NULL,
        "QuestionID" INTEGER NULL
);
CREATE TABLE IF NOT EXISTS "Question" (   
        "questiontext" VARCHAR(1000) NULL,
        "questionid" INTEGER NULL
);
CREATE TABLE IF NOT EXISTS "Survey" (
        "SurveyID" INTEGER NOT NULL,
        "Description" VARCHAR(255) NULL,
        PRIMARY KEY ("SurveyID")
);
CREATE TABLE sqlite_sequence(name,seq);
'''
None

In [9]:
separator = '\n------------------------------\n'

answers_sql = mental_health_sql.execute('Select AnswerText, SurveyID, QuestionID FROM Answer').fetchall()
answers_df = pd.DataFrame([{'answer': answer[0], 'survey_id': answer[1], 'question_id': answer[2]} for answer in answers_sql])
print('Answers:')
print(answers_df.iloc[-5:, :])
print(separator)

questions_sql = mental_health_sql.execute('SELECT questiontext, questionid FROM Question').fetchall()
questions_df = pd.DataFrame([{'question': question[0], 'question_id': question[1]} for question in questions_sql])
print('Questions: ')
print(questions_df.iloc[-5:, :])
print(separator)

surveys_sql = mental_health_sql.execute('SELECT Description, SurveyID FROM Survey').fetchall()
surveys_df = pd.DataFrame([{'survey': survey[0], 'survey_id': survey[1]} for survey in surveys_sql])
print('Surveys:')
print(surveys_df)

Answers:
                    answer  survey_id  question_id
236893               Other       2016          117
236894             Support       2016          117
236895  Back-end Developer       2016          117
236896     DevOps/SysAdmin       2016          117
236897               Other       2016          117

------------------------------

Questions:
                                              question  question_id
100  Do you think that team members/co-workers woul...          114
101  If yes, what condition(s) have you been diagno...          115
102  If maybe, what condition(s) do you believe you...          116
103  Which of the following best describes your wor...          117
104                              Do you work remotely?          118

------------------------------

Surveys:
                          survey  survey_id
0  mental health survey for 2014       2014
1  mental health survey for 2016       2016
2  mental health survey for 2017       2017
3  mental health survey for 2018       2018
4  mental health survey for 2019       2019

In [5]:
mental_health = answers_df.merge(questions_df, on='question_id', validate='many_to_one')
mental_health = mental_health.merge(surveys_df, on='survey_id', validate='many_to_one')
mental_health.iloc[-5:, :]

,answer,survey_id,question_id,question,survey
236893,-1,2019,89,What is your race?,mental health survey for 2019
236894,White,2019,89,What is your race?,mental health survey for 2019
236895,-1,2019,89,What is your race?,mental health survey for 2019
236896,-1,2019,89,What is your race?,mental health survey for 2019
236897,White,2019,89,What is your race?,mental health survey for 2019